.banner{
    background-color: #3C5B6F;
    width: 100%;
    height: 150vh
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.search {
    width: 30%;
    border-radius: 50px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.158);
    border: none;
    color: white;
      
}

.search:focus {
    outline: none;
}

.searchbtn {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.searchbtn:hover {  
    background-color: #0b3;
}

.details {
    text-align: left;
    margin: 4%; 
    margin-left: 10%; 
    padding: 1.5%; 
    border-radius: 8px;
    background-color: #ffffff8f; 
    color: #333; 
    font-size: 18px; 
    font-weight: 500; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; 
    line-height: 1.6; 
}

.txt {
    margin-left: 1%;
    font-size: 16px;
    color: #000000; 
    font-weight: 400;
}

