.banner{
    background-color: #3C5B6F;
    width: 100%;
    height: 100vh;
}

.modal-content {
    margin-top: 5%;  
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    
   
    
  }

  .form-control {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    margin: 5%;
  }

