<div class="banner">
<app-navbar></app-navbar>
<div class="cards">
    <div class="card" style="width: 18rem;" routerLink="/add">
      <img src="/addproperty.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Add Property</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem;" routerLink="/find">
      <img src="/searchproperty.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Search Property</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem;" routerLink="/listing">
      <img src="/viewproperty.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Listings</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/customers.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Customers</h4>
      </div>
    </div>
  </div>


</div>



