<div class="banner">
<app-navbar></app-navbar>
<div class="cards">
    <div class="card" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#addProperty">
      <img src="/addproperty.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Add Property</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem;" routerLink="/find">
      <img src="/searchproperty.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Search Property</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem;" routerLink="/adminlistigs">
      <img src="/viewproperty.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Listings</h4>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/customers.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4>Customers</h4>
      </div>
    </div>
  </div>


</div>


<!-- add property modal -->
<div class="modal fade" id="addProperty" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add Property</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style=" justify-content: center; display: flex">
          <div class="form">
               <input type="text" class="txt" [(ngModel)]="property.owner" placeholder="Enter property owner">
               <input type="text" class="txt" [(ngModel)]="property.ownercontact" placeholder="Enter Owner contact">
               <input type="text" class="txt" [(ngModel)]="property.location" placeholder="Enter property location">
               <input type="text" class="txt" [(ngModel)]="property.district" placeholder="Enter property district">
               <input type="text" class="txt" [(ngModel)]="property.price" placeholder="Enter property price">
               <input type="text" class="txt" [(ngModel)]="property.type" placeholder="Enter property type">
               <button type="submit" class="submit" (click)="addProperty()" (click)="clearFields()">Add Property</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
